{% extends "layout.html" %}
{% block title %}
About the Writing Studies Tree
{% endblock %}

{% block text_on_right %}
<h3>About this site</h3>
The WST is an online, crowdsourced database of academic genealogies within writing studies; in other words, it is an interactive archive for recording and mapping scholarly relationships in Composition and Rhetoric and adjacent disciplines. 

<strong>To add or edit content, you must be logged in; use the form at the right to request an account or enter your username and password.</strong> Once that's done, you can use the menu on the top of your screen to explore the network of people and institutions, create new nodes within that network, or participate in discussions about what you've discovered or where to go next. You can also build connections: just look for the Add Relationships toolbox on the page of any individual person or school.

Not sure where to start? Try the <a href="network">full network</a>, check out our <a href="content/faq">FAQ</a>, or view our <a href="content/video-walkthrough">video walkthrough</a>. Further help on this process is forthcoming. In the meantime, <a href="forum">let us know</a> if you have any suggestions!

<div id="history">
<h3>How did this project start?</h3>
The first seed for The Writing Studies Tree was planted in Sondra Perl’s doctoral seminar in the spring of 2011. It grew into a classroom project and soon extended beyond the classroom, developing roots that were tended to by a team of students and faculty at the Graduate Center of the City University of New York (CUNY): Ben Miller (project leader and site administrator), Amanda Licastro (project administrator), Sondra Perl (faculty advisor), Jill Belli, Diana Epelbaum, Chris Leary, Erica Kaufman, Andrew Statum, Lisa Vaia, and Dominique Zino. The initial tree and network visualizations were written by Matt Miller, a graduate student at Pratt Institute.

But having planted the seeds, we want your help to make the Tree grow! Our chief design goal has been to make it easy to pool our collective knowledge and time. If you would like to contribute, you are welcome to do so! Simply create a free account using the link at the right, and follow the instructions on the <a href="content/faq">FAQ page</a>. If you have a suggestion or other feedback, please let us know via <a href="forum">the discussion forums</a>. 

We officially launched the site at the Conference on College Composition and Communication (CCCC) as a Featured Session in March of 2012, and were gratified by the positive response. Drawing from the interest garnered by that presentation, three members of the original team - Ben Miller, Amanda Licastro, and Jill Belli (bios are available <a href="about/team" title="team member bios">here</a>) continued developing the site and began the quest to find funding. 

With the help of two Digital Innovation Grants from the Provost's Office of the CUNY Graduate Center (2012-13 and 2013-14), we have been able to unveil several new features this year - including several new interactive data visualizations and two new tagging features - and we plan to create even more features in the next weeks and months. Our work was again granted an interactive booth at CCCC in Las Vegas, and updates on the site's new features and data were shared at session G.03, "Disciplinary Data on Display: Visualizing Keywords in CompPile, Dissertations, and the Writing Studies Tree."
</div>

<h3 id="support">Support</h3>
<blockquote>[The Writing Studies Tree is] impossible not to be enthusiastic about...
-- 2012-2013 CCCC Research Initiative Selection Committee</blockquote>

We would like to thank the countless people who have helped to grow the Writing Studies Tree (WST) over the years by contributing data, support, and advice. In particular, we owe a debt of gratitude to the other members of the initial WST team from The Graduate Center, CUNY: Diana Epelbaum, Chris Leary, Erica Kaufman, Andrew Statum, Lisa Vaia, and Dominique Zino; and to Hilarie Ashton, Mikayla Zagoria-Moffett, and Dale Ireland, who have infused our team with new energy since 2014. Sophia Natasha Sunseri engaged in data cleanup efforts throughout 2014-15; thank you! 

Our data visualizations are the work of expert programming consultants Matt Miller and Jeff Binder: we cannot thank you enough. (Bios are available <a href="http://writingstudiestree.org/live/about/team" title="team member bios">here</a>.) 

The WST is grateful for the generous support of the CUNY Graduate Center, which selected the Writing Studies Tree for one of the initial <a href="http://gcdi.commons.gc.cuny.edu/2012/07/23/provosts-digital-innovation-grants-7/">Provost's Digital Innovation Grants</a> in 2012-13, <a href="http://gcdi.commons.gc.cuny.edu/2013/10/01/the-writing-studies-tree-2/">2013-14</a>, and <a href="http://gcdi.commons.gc.cuny.edu/2015/03/09/the-writing-studies-tree-3/">2014-15</a>. 

Many thanks to Douglas Eyman and <i>Kairos: A Journal of Rhetoric, Technology, and Pedagogy</i> for linking entries in the <i>Kairos</i> <a href="http://kairos.technorhetoric.net/praxis/tiki-index.php?page=ScholarNames">ScholarNames</a> pronunciation wiki to the corresponding WST entries, and especially for adding any that had been missing from our database. We would also like to extend a special thanks to the <a href="http://www2.matrix.msu.edu/">MATRIX team</a> for informal consultation and advice, especially Bill Hart-Davidson, Liza Potts, and Dean Rehberger; and to John Brereton and Cinthia Gannett, for their excitement, suggestions, and guidance. 

Finally, we'd like to thank our faculty advisors at CUNY, Dr. Sondra Perl and Dr. Matthew K. Gold; the WPA-Metro Affiliate Executive Committee, for inviting us to lead workshops at two events in the 2012-2013 school year; and every one of our contributors. Conversations with users, both online and in person, continue to make this project worthwhile and drive us to do better. We couldn't do this without you.


<h3 id="future-plans">Future Plans</h3>
As Franco Moretti, Edward Tufte, and others have convincingly argued, visual representation of large datasets encourages pattern-finding because it consolidates the information into something the eye can take in at a glance. Therefore, our goal moving forward is to offer an increasing range of visualization options for visitors to the site, allowing users to choose a mode of viewing (e.g. timeline, force-directed graph, matrix) and limiting parameters such as dates or distance of relation. Ideally, we would like to make a public API for the data, enabling new analyses and data-representations that we haven’t yet envisioned. Our goal is that the Writing Studies Tree become a powerful resource for understanding the dynamics of our discipline.

We welcome collaboration with Writing Studies scholars at any level, and would be especially excited to partner with the many skilled members of the TechRhet and Computers-and-Composition communities. For open discussion of possibilities, you can use the <a href="forum">forum</a>; you can also send us a private message at admin@writingstudiestree.org.


<h3 "use-of-data">Can I use this data?</h3>
The full terms of service are located <a href="about/terms-of-use">here</a>, but in brief: the Writing Studies Tree is shared under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>. This means that, so long as you give credit to writingstudiestree.org and refrain from using our material for commercial purposes, you may copy, distribute, transmit, and even adapt the work – for example, to generate new data visualizations or analyses. If you are working on something like this, we'd be excited to hear about it! For public notice, you can use the <a href="forum">forum</a>; you can also send us a private message at admin@writingstudiestree.org.


{% endblock %}
