{% extends "bootstrap/base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}

WST 2.0!
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WST</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
	{% block navbar %}
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/browse/people">People</a></li>
            <li><a href="/browse/institutions">Schools and Institutions</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Other views coming soon</a></li>
          </ul>
        </li>
      </ul>
    {% endblock %}  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>

<div id="main" role="main">
{% block main %}
<h1>Welcome to the Writing Studies Tree!</h1>
	<div class="container">
	<div class="row">
		<div class="col-sm-3" id="image_on_left">
		{% block image_on_left %}
		<img src="static/img/WST_Logo_Green_200x200_72dpi.jpg" alt="WST network logo" class="img-responsive center-block">
		{% endblock %}
		</div>
		
		<div class="col-sm-9" id="text_on_right">
		{% block text_on_right %}
		<p>The WST is an online, crowdsourced database of academic genealogies within writing studies; in other words, it is an interactive archive for recording and mapping scholarly relationships in Composition and Rhetoric and adjacent disciplines.</p>

		<p>This new version of the WST site, built on a graph database for more rapid complex queries, is still in its fledgling state. Please help us build it at <a href="https://github.com/writingstudiestree/wst2">https://github.com/writingstudiestree/wst2</a>.</p>

		<p>Some places to begin:
		<ul>
			<li><a href="/institution/University%20of%20Pittsburgh">University of Pittsburgh</li>
			<li><a href="/institution/Purdue%20University">Purdue University</li>
		</ul>
		</p>
		{% endblock %}
		</div> <!-- end #text_on_right -->
	</div> <!-- end .row -->
	</div> <!-- end .container -->
{% endblock %}
</div> <!-- end #main -->
{% endblock %}
